<html>
	<head>
		<title>Customer care Registry</title>
		<link rel="stylesheet" type="text/css"href=./../static/styles/index.css>
	</head>
	<body>
      <header>
		<div class="main">
			<div class="logo">
				<img src="./../static/customer-care.jpg">
			</div>
			<ul>
				<li><a href="logi">LOGIN/SIGNUP</a></li>
				<li><a href="about">ABOUTUS</a></li>
				<li><a href="contact">CONTACTUS</a></li>
			</ul>
		</div>
	  </header>
	  <footer>    
		<!-- Copyright -->
		<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
		  © 2022 Copyright : 
		  <a class="text-reset fw-bold" href="https://github.com/IBM-EPBL/IBM-Project-44272-1660723624/tree/main/Final%20Deliverables/Source%20code">PNT2022TMID46366</a>
		</div>
		<!-- Copyright -->
	  </footer>
	</body>
</html>
