<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		Customer care Registry
	</title>
	<style>
		body{
			background: -webkit-linear-gradient(left, #a445b2, #42c0fa);
		}
		.btn {
    display: inline-block;
    background: #f5f2f1;
    color: rgb(17, 1, 1);
    padding: 10px 30px;
    margin: 2px 50px;
	border: 50px;
    border-radius: 30px;
    transition: background 0.5s;
}
	</style>
</head>
<body background="1.jpg" link="#000" alink="#017bf5" vlink="#000">
	<br />
	<h3 align="center">
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<font face="cinzel" size="4">
			<a href="logi">LOGIN/SIGN UP</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="about">ABOUT</a>&nbsp;&nbsp;&nbsp;&nbsp;
			
			<a href="contact">CONTACT US</a>
		</font>
	</h3>
	<br /><br />
	<h1 align="center">
		<font face="Lato" color="white" size="7">
			CUSTOMER CARE REGISTRY
		</font>
	</h1>
	<h3 align="center">
		<font face="Lato" color="BLACK" size="5">
			<strong>“WELCOME AGENT”</strong>
		</font>
	</h3>
	<br />
	<h3 align="center">
	<a href="https://en.wikipedia.org/wiki/Expense_management">
		<font face="Lato" color="#000">GET STARTED</font>
	</a>&nbsp;&nbsp;&nbsp;&nbsp;
	
	</h3><br>

		<h2 align="center">
		<center>{{msg}}</center>
		
		

	
</body>
</html>